<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Freebies at ONA</title>
  <meta name="description" content="Freebies at ONA">
  <meta name="author" content="Peyton Chance">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Lato" rel="stylesheet">

  <!-- Custom Styles-->
  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container-fluid header-background">
    <div class="container header">
      <div class="row">
        <div class="col-6 header-title">
          <h1>Your Guide to Freebies</h1>
        </div>
        <div class="col-1">
          <span id="header-at">@</span>
        </div>
        <div class="col-5">
          <?xml version="1.0" encoding="utf-8"?>
          <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
          <svg version="1.1" id="Layer_1 logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 viewBox="0 0 337 186" style="enable-background:new 0 0 337 186;" xml:space="preserve">
          <style type="text/css">
          	.st0{fill:#FFFFFF;}
          	.st1{fill:#143344;}
          	.st2{fill:#00A39B;}
          </style>
          <path class="st0" d="M138.8,92.6l-6.7-0.8c0,0-14.1-8.6-15.8-23.6c-1.7-15,0-37.2,0-37.2s-2-28.8,53.7-28S224,29.8,224,29.8l0,36.3
          	c0,0-0.5,19.1-15.4,25.5l-6.7,1"/>
          <g>
          	<path class="st1" d="M171.3,1.5c-25.3,0-56.6,4.5-56.6,32.5v28.9c0,13.4,6.3,24.9,17.4,29l0-2.6c-3.3-1.4-6.2-3.5-8.5-6.3
          		c-4.2-5.1-6.5-12.2-6.5-20.1V34c0-20.3,17.7-30.1,54.2-30.1C186.9,3.9,223,6.8,223,34v28.9c0,7.9-2.3,15-6.5,20.1
          		c-2.2,2.7-4.9,4.7-7.9,6.1l0,2.6c10.7-4.3,16.8-15.6,16.8-28.8V34C225.4,8.5,196.7,1.5,171.3,1.5z"/>
          </g>
          <path class="st2" d="M199.4,86.7c-0.8-0.5-1.4-5.1-1.4-5.1h0c-1.6-9.6-7.9-17.6-16.5-21.3v-3.4c-0.1-0.4-4.9-6.4-4.9-6.4v-6.8
          	c0.4-0.4,1.4-4.5,1.4-4.5c-0.4-1-2.5-2.1-2.5-2.1c-0.1-2.2-1.7-2.9-2.3-3.6c-0.6-0.7,0-4.3,0-4.3c-2-3-0.2-5.4-0.2-5.4
          	c1-3-2.3-8.3-2.3-8.3s-3.3,5.3-2.3,8.3c0,0,1.8,2.4-0.2,5.4c0,0,0.6,3.6,0,4.3c-0.6,0.7-2.2,1.5-2.3,3.6c0,0-2.1,1.1-2.5,2.1
          	c0,0,1,4.2,1.4,4.5v6.8c0,0-4.8,5.9-4.9,6.4v3.4c-8.5,3.7-14.8,11.7-16.4,21.3h0c0,0-1,3.3-1.2,4c-0.2,0.7-3.6,2.7-3.6,3.6v3.5
          	c0,0,6.4,2,24.6,2.9c0,0,3,6.9,0.7,18.7c11.1-7.1,18.1-18.7,18.1-18.7c9.6,0,19.8-2.9,19.8-2.9v-3.5L199.4,86.7z"/>
          <path class="st1" d="M1.8,145.5c0-21.7,12.2-38.3,36.3-38.3c24,0,34.4,16.5,34.4,36.9c0,23.8-11.7,39.1-35.8,39.1
          	C12.2,183.3,1.8,167.5,1.8,145.5z M56.4,145.1c0-17.6-7-25.1-18.5-25.1c-11.7,0-19.9,7.7-19.9,25.2c0,18.3,7.6,25.6,19.3,25.6
          	C48.7,170.8,56.4,163.8,56.4,145.1z"/>
          <path class="st1" d="M131.7,182l-32.4-53v42.2c0,1.6,0.1,1.8,1.6,2l6.8,0.8v7.9H79.5v-7.9l6.4-0.7c1.4-0.2,1.6-0.5,1.6-2v-52.2
          	c0-1.5-0.2-1.9-1.6-2l-6.4-0.7v-7.9h25.2l31.9,53.1v-42.2c0-1.5-2.5-2.7-2.5-2.7v-8.1c0,0,5.1,0,19.2,0v8.7l-3.3,0.3
          	c-1.5,0.2-1.6,0.4-1.6,1.9V182H131.7z"/>
          <path class="st1" d="M199.8,182v-7.9l8.3-0.9l-3.7-10.6h-25.2l-3.6,10.6l8,0.9v7.9h-28.3v-7.9l4.5-1.1c1.2-0.3,2.1-0.7,2.5-1.9
          	l21.1-62.9h19l22.2,63.1c0.4,1.2,1.2,1.4,2.4,1.7l4.7,1.1v7.9H199.8z M192.4,124.1h-0.6l-9.3,27.6h19L192.4,124.1z"/>
          <path class="st2" d="M235.7,182v-7.6l10.9-3.7c1.8-0.1,2-0.6,2-2.5v-44.3c0-1.5-0.4-2.3-1.6-2.7l-11-2.3l1.4-10.4h30.5v59.6
          	c0,2,0.1,2.4,2,2.5l10.4,0.9V182H235.7z"/>
          <path class="st2" d="M292.2,182c2.6-30.8,17.2-50.8,24.8-59.2h-21.6c-1.1,0-1.2,0.5-1.5,1.5l-1.8,9.5l-11.9,0.9v-26.2h54.7v12.8
          	c-13.3,14.1-24,37.7-24.7,60.7H292.2z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>

<div id="app">
  <div class="container dropdown-section">

    <!---- Date Selection Dropdown -->
    <div class="row">
        <div class="col-12">
          <div class="dropdown">

            <select v-model="selectedDate">
              <option disabled value="">Date</option>
              <option>Thursday, October 5</option>
              <option>Friday, October 6</option>
              <option>Saturday, October 7</option>
            </select>
              <span>Selected: {{ selectedDate }}</span>
            <!-- <button class="btn btn-secondary dropdown-toggle custom-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Date
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Thursday, October 5</a>
              <a class="dropdown-item" href="#">Friday, October 6</a>
              <a class="dropdown-item" href="#">Saturday, October 7</a>
            </div> -->
          </div>
        </div>
    </div>

    <!---- Item Selection Dropdown ---->
    <div class="row">
      <div class="col-12">
        <div class="dropdown">
          <select v-model="selectedItem">
            <option disabled value="">Item</option>
            <option value="notebook">Notebooks</option>
            <option value="pen">Pens</option>
            <option value-"drink">Drinks (21+)</option>
            <option value="food">Food</option>
          </select>
            <span>Selected: {{ selectedItem }}</span>
        </div>
      </div>
    </div>
  </div>

<div class="container results">
  <h2>Who's Got It?</h2>
  <p>Current filter: {{ selectedItem }} </p>
          <div v-for="booth in singleFilter"> <!-- don't use () for computed properties -->
              <p>Name: {{booth.name}}</p>
              <p>Description: {{booth.description}}</p>
              <p>Location: {{booth.location}}</p>
              <p>Notebooks?: {{booth.notebook}}</p>
              <hr>
          </div>





  <div class="row">
      <div class="col-6">
        <img class="results-logo">
      </div>
      <div class="col-6">
      </div>
  </div>
</div>


</div> <!-- Close App-->





  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- Vue CDN-->
  <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
  <script src="js/scripts.js"></script>
</body>
</html>
